/*----------- MAIN STYLING ----------*/

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #2D2E33;
  margin: 0;
}

.kad-header {
  padding: 1.5% 7%;
  background-color: #064E89;
}

@media (min-width: 983px) {
  .kad-nav {
    display: flex;
    align-items: center;
    position: absolute;
    right: 7%;
  }
}

@media (max-width: 982px) {
  .kad-header {
    display: block;
    padding: 0px;
  }
}

section {
  display: flex;
  justify-content: stretch;
}

h1 {
  margin-top: 0;
  color: white;
  text-align: center;
}

h2 {
  color: #5b5c63;
}

a {
  text-decoration: none;
  color: #064E89;
}

.page-container {
  position: relative;
  min-height: 88vh;
  padding-bottom: 12vh;
  display: flex;
  flex-direction: column;
}

.output-data {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.empty {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(177, 176, 176);
}

.empty h2 {
  margin: 0;
}

/*----------- FORM STYLING ----------*/

#form-box {
  background-color: #064E89;
  padding: 2% 7% 1%;
  margin-bottom: 1rem;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  padding: 2% 3%;
}

.search-form {
  display: flex;
  flex-direction: column;
}

.search-user {
  border: 1px solid #064E89;
  padding: 0.8rem;
  border-radius: 3px;
}

.search-user:focus {
  outline-color: #064E89;
}


/*----------- PROFILE STYLING ----------*/

#user-box {
  display: flex;
  padding: 1% 7% 1%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  box-shadow: 0 0 4px 1px lightgray;
  padding: 2% 3%;
  position: relative;
}

.profile-container h2 {
  margin-top: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgrey;
}

.profile-box {
  display: flex;
  width: 100%;
  position: relative;
}

.profile-img-box {
  display: flex;
}

.details-box {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-direction: column;
}

.profile-img {
  max-width: 100%;
  border-radius: 5%;
  width: 200px;
  height: auto;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 20px;
}

.basic-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.info-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-grow: 1;
  margin: 0;
  padding: 0 20px;
}

.info-list li {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
  margin-top: auto;
}

/*-----------REPO STYLING ----------*/

#repo-box {
  display: flex;
  padding: 1% 7% 1%;
}

.repo-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  box-shadow: 0 0 4px 1px lightgray;
  padding: 2% 3%;
  position: relative;
}

.repo-heading {
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0 10px 5px;
  border-bottom: 1px solid lightgrey;
}

.repo-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex-grow: 1;
  margin: 0;
  padding: 0 0;
}

.repo-list li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
  margin-top: 20px;
  padding: 0 10px 5px;
}


/*----------- BADGE STYLING ----------*/

.badge {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 2px;
  border-radius: 5px;
}

.badge p {
  color: white;
  padding: 2px 5px;
  margin: 0;
}

.green-badge {
  background-color: teal;
  border: 1px solid teal;
}

.blue-badge {
  background-color: #064E89;
  border: 1px solid #064E89;
}

.orange-badge {
  background-color: rgb(219, 151, 23);
  border: 1px solid rgb(219, 151, 23);
}

.red-badge {
  background-color: rgba(214, 2, 2, 0.849);
  border: 1px solid rgba(214, 2, 2, 0.849);
}

.repo-badges {
  display: flex
}

/*----------- FOOTER STYLING ----------*/

footer {
  text-align: center;
  padding: 15px;
  background-color: #064E89;
  position: absolute;
  width: -webkit-fill-available;
  bottom: 0;
}

footer p {
  margin: 0;
  color: white;
}

/*----------- ALERT STYLING ----------*/

.alert-container {
  display: none;
  justify-content: center;
  padding: 0 7%;
}

.alert {
  width: 100%;
  text-align: center;
  background-color: #DC2929;
  color: white;
}

.alert-message {
  margin: 0;
  padding: 10px 0;
}

/*----------- RESPONSIVE STYLING ----------*/

@media (max-width: 723px) {
  #form-box, #user-box, #repo-box, .alert-container {
    padding: 2% 3%;
  }

  .form-container, .profile-container, .repo-container {
    border-bottom: none;
    padding-top: 6%;
    padding-bottom: 6%;
  }

  .profile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .profile-img-box {
    margin-bottom: 1rem;
  }

  .profile-img {
    width: 120px;
  }

  .details-box {
    width: 100%;
  }

  .details-box .badges {
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
    justify-content: center;
  }

  .basic-info {
    width: 100%;
  }

  .info-list {
    text-align: center;
    padding: 0;
    align-items: center;
  }
  
  .info-list li {
    margin-top: 0.7rem;
    width: 98%;
  }

  .details-box .orange-badge {
    display: none;
  }

  .repo-heading {
    margin-bottom: 1rem;
  }

  .repo-list li {
    align-items: center;
  }

  .repo-list .repo-badges {
    font-size: 0.7rem;
  }

}